<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993186829243-8dbrhmp2n9e6orj1qhe44fles50l676t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993186829243-8dbrhmp2n9e6orj1qhe44fles50l676t</string>
	<key>API_KEY</key>
	<string>AIzaSyCvzvoSHXGw2yqMwh3FXm1jvX3sVuEREGg</string>
	<key>GCM_SENDER_ID</key>
	<string>993186829243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>$(APP_ID)</string>
	<key>PROJECT_ID</key>
	<string>cookbookd-a23a3</string>
	<key>STORAGE_BUCKET</key>
	<string>cookbookd-a23a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993186829243:ios:214ed55d63d45a25c32a9e</string>
</dict>
</plist>